@media screen and (max-width: 1024px) {
	.hotline_left_information li {
	    font-size: 14px;	    
	}
	.hotline_right_information li {
	    
	    font-size: 13px;
	    margin-left: 8px;
	}
	.heaer_images{
		display: none;
	}
	.banner_sidebar ul li {
	   
	    padding: 8px 12px;
	    
	}
	.nav>li>a {
	    font-size: 13px;
	    
	}
	.banner_sidebar_header h2 {
	    
	    font-size: 22px;
	}
	.nibondhon_button a {
	    
	    font-size: 20px;
	    
	}
	.hundred_years_content_title h3 {
	    
	    font-size: 17px;
	}
	.school_proud_header h3 {
	    font-size: 17px;
	    
	}
	.all_page_content_title h2 {
	    margin: 0px;
	    font-size: 24px;
	}
	.sotoborso_udjapon_comity_content h2 {
	    margin-top: 0px;
	    font-size: 12px;
	    
	}
	.registrarion_step li {
	    margin: 0px 93px;
	}
	.nrb_color {
	    
	    margin-top: 15px;
	}
	
}
@media screen and (max-width:991px) {
	.hotline_right_information {
	    
	    display: none;
	}
	.hotline_left_information li {
	    font-size: 16px;
	}
	.nav>li>a {
	    font-size: 11px;
	}
	.navbar-default .navbar-nav>li>a {
	    
	    margin: 0px 2px;
	   
	}
	.banner_section_banner {
	    
	    margin-bottom: 20px;
	}
	.nibondhon_button a {
	    font-size: 30px;
	}
	.nibondhon_button {
	    
	    min-height: unset;
	    padding: 10px; 
	    
	}
	.nibondhon_button_bottom {
	     min-height: unset !important; 
	    
	}
	.banner_sidebar_header {
	    
	    margin-top: 20px;
	}
	.banner_sidebar ul li {
	    
	    width: 8%;
	    margin: 0px 5%;
	}
	.response_margin_top {
		margin-top: 20px;
	}
	.response_margin_bottom{
		margin-bottom: 20px;
	}
	.hundred_years_content_title h3 {
	    font-size: 21px;
	}
	.school_proud_header h3 {
	    font-size: 21px;
	}
	.school_proud_sidebar_content_image_text h4 {
	    
	    font-size: 16px;
	}
	.school_proud_sidebar_content_image_text p {
	    
	    font-size: 16px;
	}
	.sotoborso_udjapon_comity_content h2 {
	    
	    font-size: 16px;
	    
	}
	.sotoborso_udjapon_comity_content p {
	   
	    font-size: 14px;
	    
	}
	.responsive_image_size img{

	}
		.empty_div {
	    min-height: 445px;
	}
	
	.school_committee_height {
	    height: 170px;
	}
	.registrarion_step li {
	    margin: 0px 60px;
	}
	.scan_form button {
	    
	    font-size: 17px;
	    
	}
	.download_form button {
	    
	    font-size: 17px;
	    
	}

}

@media screen and (max-width: 799px){

}

@media screen and (max-width:768px) {
		.school_proud_sidebar_content_image_text p {
	    font-size: 13px;
	}
	
}
@media screen and (max-width: 767px){
	.logo_image img {
	    height: 90px;
	}
	.school_management_committee_image img {
	    
	    height: auto;
	}
	.response_margin_bottom{
		margin-bottom: 20px;
	}
	.main_comettree {
	    margin: 0px 0px 20px 0px;
	}
	.main_about {
	    margin: 0px 0px 20px 0px;
	}
	.main_school_management_comitee {
	    margin-bottom: 20px;
	}
	.area_practice_image img {
	    
	    height: 200px;
	}
	.main_hundred_years {
	    margin: 20px 0px;
	}
	.hundred_years_content_images img {
	    
	    height: auto;
	}
	.all_page_content_title h2 {
	    
	    font-size: 23px;
	}
	.school_committee_height {
	    height: 210px;
	}
	.school_proud_sidebar_content_image_text h4 {
	    font-size: 20px;
	}
	.school_management_committee_image img {
	    height: 230px;
	}
	.button_top button{
		display: none;
	}
	.button_bottom button{
		display: none;
	}
	.external_button{
		display: block;
	}
	.external_button_icon{
		position: fixed;
	    right: 10px;
	    top: 10px;
	    z-index: 9999;
	    background: #303030;
	}
	.external_button_icon i{
		border: 2px solid #ddd;
	    width: 50px;
	    height: 50px;
	    font-size: 35px;
	    padding: 7px 7px 4px 8px;
	    color: #ddd;
	}
	.external_button_icon i:hover{
		
	}
}

@media screen and (max-width: 640px){
	.hotline_left_information li {
	    font-size: 13px;
	}
	.area_practice_image_text h4 {
	    
	    font-size: 16px;
	}
	.school_committee_height {
	    height: 180px;
	}
	.download_form button {
	    font-size: 15px;
	}
	.scan_form button {
	    font-size: 15px;
	}
}

@media screen and (max-width: 480px){
	.hotline_left_information li {
	    font-size: 9px;
	}
	.banner_sidebar ul li {
	    
	    margin: 0px 4%;
	}
	.banner_sidebar ul li {
	   
	    width: 12%;	    
	    padding: 5px 30px 5px 14px;	    
	    font-size: 13px;
	}
	.school_committee_height {
	    height: 140px;
	}
	.sotoborsho_nana_ayojon_height {
	    height: 380px;
	}
	.nrb_color {
	    
	    font-size: 14px;
	}
	.download_form button {
	    font-size: 10px;
	}
	.scan_form button {
	    font-size: 10px;
	}
}

@media only screen and (max-width: 360px) {
	
	.hotline_left_information {
	    
	    display: none;
	}
	.banner_sidebar ul li {
	  
	    font-size: 12px;
	}
	.banner_sidebar ul li {
	    margin: 0px 1%;
	}
		.all_page_content_title h2 {
	    font-size: 18px;
	}
	.school_committee_height {
	    height: 120px;
	}
	.school_proud_sidebar_content_image_text h4 {
	    font-size: 17px;
	}
	.download_form button {
	    font-size: 14px;
	}
	.scan_form button {
	    font-size: 16px;
	}
	.registration_text h2 {
   	 	font-size: 30px;
	    
	}
	.nrb_color {
	    font-size: 14px;
	    line-height: 24px;
	}
}

@media only screen and (max-width: 320px) {
	.nibondhon_button a {
	    font-size: 19px;
	}
	.banner_sidebar_header h2 {
	    font-size: 17px;
	}
	.banner_sidebar ul li {
	    
	    padding: 5px 25px 5px 11px;
	    
	}
	.hundred_years_content_title h3 {
	    font-size: 17px;
	}
	.school_proud_header h3 {
	    font-size: 17px;
	}
	.download_form button {
	    font-size: 12px;
	}
	.scan_form button {
	    font-size: 13px;
	}
	.registration_text h2 {
	    font-size: 25px;
	}
}